.Main {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}
.Main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
